.author-avatar{
  height: 300px;
  width: 300px;
}

.data-table {
    text-align: center !important;
    vertical-align: middle !important;

  i.fas,
  i.far,
  i.fab, {
    font-size: x-large;
    vertical-align: middle !important;
  }
    
}

.red {
  color: red;
}

.green {
  color: green;
}

.purple {
  color: purple;
}
