<div id="success-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Thank you. We got your submission.</h4>
      </div>
      <div class="modal-body">
          <p class="text-center">Be sure to follow us on social media as well!</p>
          <ul class="list-inline text-center">
            <li class="list-inline-item"><a target="_blank" href="https://instagram.com/cpcscc_"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://twitter.com/cpcscc"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/cpcscc"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
          </ul>
      </div>
    </div>

  </div>
</div>

<div id="fail-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Hm. Something went wrong.</h4>
      </div>
      <div class="modal-body">
          <p class="text-center">Try refreshing the page and submitting again or checking your browser and plugin privacy settings.</p>
          <ul class="list-inline text-center">
            <li class="list-inline-item"><a target="_blank" href="https://instagram.com/cpcscc_"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://twitter.com/cpcscc"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/cpcscc"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
          </ul>
      </div>
    </div>

  </div>
</div>
