{{ define "main" }}

<!-- contact -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">{{ i18n "contact_us" }}</h2>
      </div>
    </div>
        {{ .Content }}
        <a href="mailto:{{ .Site.Params.email }}" class="mb-5 text-color h5 d-block">{{ .Site.Params.email }}</a>
        <h3 class="section-title">Volunteer Form</h2>
        <p>We can only achieve our mission with your help. Fill out the form below and we will reach out soon.</p>
        <form name="v_submit-to-google-sheet" action="{{ .Site.Params.contact_form_action | safeURL }}" method="POST">
          <input type="text" class="form-control mb-3" id="v_name" name="v_name" placeholder="Your Name">
          <input type="v_email" class="form-control mb-3" id="mail" name="v_email" placeholder="Your Email">
          <textarea name="v_reason" id="v_reason" class="form-control mb-3" placeholder="Why do you want to volunteer?"></textarea>
          <button id="v_btn" type="submit" value="send" class="btn btn-primary">{{ i18n "send" }}</button>
        </form>
  </div>
</section>
<!-- /contact -->

<script>
  const v_scriptURL = 'https://script.google.com/macros/s/AKfycbzBtTYqAv_kMclp_l721J04eaJqrv4tVVC95MWT9lCIRE9MA5Y3/exec'
  const v_form = document.forms['v_submit-to-google-sheet']

  v_form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(v_scriptURL, { method: 'POST', body: new FormData(v_form)})
      .then(response => console.log('Success!', response))
      .catch(error => console.error('Error!', error.message))
    v_form.reset();
  })
</script>

{{ end }}
